/simplifier.iml
/.idea/
/out/production/simplifier/Simplifier.class
/out/production/simplifier/RegExHelper.class
/out/production/simplifier/Simplifier/Simplifier.class
/out/production/simplifier/Simplifier/RegExHelper.class
/out/production/simplifier/Simplifier/build.sh
/src/simplifier/Tester.java
/out/production/simplifier/Simplifier/Tester.class
/out/production/simplifier/Simplifier/Simplifier.jar
/out/production/simplifier/Simplifier/Address.class
/out/production/simplifier/Simplifier/types/Address.class
/out/production/simplifier/Simplifier/types/Bit.class
/out/production/simplifier/Simplifier/types/DateTime.class
/out/production/simplifier/Simplifier/types/Fraction.class
/out/production/simplifier/Simplifier/types/ImaginaryNumber.class
/out/production/simplifier/Simplifier/types/Polynomial.class
/out/production/simplifier/Simplifier/types/HexInt.class
/out/production/simplifier/Simplifier/types/SingleVarPolynomial.class
/out/production/simplifier/Simplifier/Hasher.class
