/simplifier.iml
/.idea/
/out/production/simplifier/Simplifier.class
/out/production/simplifier/RegExHelper.class
/out/production/simplifier/Simplifier/Simplifier.class
/out/production/simplifier/Simplifier/RegExHelper.class
/out/production/simplifier/Simplifier/build.sh
/src/simplifier/Tester.java
/out/production/simplifier/Simplifier/Tester.class
/out/production/simplifier/Simplifier/Simplifier.jar
/out/production/simplifier/Simplifier/Address.class
/out/production/simplifier/Simplifier/types/Address.class
/out/production/simplifier/Simplifier/types/Bit.class
/out/production/simplifier/Simplifier/types/DateTime.class
/out/production/simplifier/Simplifier/types/Fraction.class
/out/production/simplifier/Simplifier/types/ImaginaryNumber.class
/out/production/simplifier/Simplifier/types/Polynomial.class
/out/production/simplifier/Simplifier/types/HexInt.class
/out/production/simplifier/Simplifier/types/SingleVarPolynomial.class
/out/production/simplifier/Simplifier/Hasher.class
/out/production/simplifier/Simplifier.jar
/out/production/simplifier/build.sh
/src/Tester.java
/out/production/simplifier/Tester.class
/out/production/simplifier/create.sh
/out/production/simplifier/update.sh
/out/production/simplifier/build.py
/venv/
/out/production/simplifier/simplifier/FileHelper.class
/out/production/simplifier/simplifier/APIHelper.class
/src/JSON-java-master.zip
/src/JSON-java-master/src/test/
/out/production/simplifier/org/
/out/production/simplifier/simplifier/Time.class
